// Page
///
/// @group itcss-skeleton-scss
/// @author Hemerson Vianna
///
/// @access public
///
html {
    line-height: $base-line-height;
    background-color: $base-background-color;
    color: $base-text-color;
    overflow-y: scroll;
    min-height: 100%;
    -webkit-text-size-adjust: 100%;
        -ms-text-size-adjust: 100%;
    -moz-osx-font-smoothing: grayscale;
     -webkit-font-smoothing: antialiased;
}

body {
    //font-family: $base-font-family;
    font-size: $base-font-size;
}
