// Semantic grid
/// 
/// @group itcss-skeleton-scss
/// @author Hemerson Vianna
/// 
/// @access public
///
$total-width : 100%;
$total-columns : 12;
$padding-width : 10px;
$columns : 12;
$push : 0 !default;